


<h2> Update Customer </h2>
<div style="width: 400px;">
<form #customerData = "ngForm" (ngSubmit) = "updateCustomer(customerData.value)">
  <div class="form-group">
  <label>Name:</label>
  <input type = "text" name="name" id="name" class="form-control" placeholder="name" [(ngModel)]="customer.name" ngModel>
  </div>

  <div class="form-group">
  <label>Country:</label>
  <input type = "text" name="country" id="country" class="form-control" placeholder="country"  [(ngModel)]="customer.address" ngModel>
  </div>

  <div class="form-group">
  <label>PhoneNumber:</label>
  <input type = "text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="phoneNumber"  [(ngModel)]="customer.phoneNumber" ngModel>
  </div>

  <div class="form-group">
  <label>Address:</label>
  <input type = "text" name="emailAddress" id="emailAddress"  class="form-control" placeholder="emailAddress"  [(ngModel)]="customer.emailAddress" ngModel>
  </div>


  <button type="submit" class="btn btn-success">Update Customer</button>
</form>
</div>

<br>
<h3 *ngIf="isUpdated">
  {{customer.name}} {{updatedString}}
</h3>

<br>
<div class="btn btn-success"><a routerLink="/">Back</a></div>
