.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.example-container > * {
  width: 80%;
  padding-left: 10px;

}

.formMat{
  width: 90%;
  margin-left: 10px;
  margin-top: 30px;
}

.formMatLeft{
  padding-left: 80px   !important;;
  margin-top: 30px;

}

