<mat-card class="formMat"> <b>Add new Car</b>

<div class="example-container">
  <form #newCarData = "ngForm" (ngSubmit) = "addNewCar(newCarData.value)">

  <mat-form-field>
    <input matInput placeholder="Reference Number"  [(ngModel)]="newCarData.referenceNumber" name="referenceNumber" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Make" [(ngModel)]="newCarData.make" name="make">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Model" [(ngModel)]="newCarData.model" name="model">
  </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Drive Type"  [(ngModel)]="newCarData.driveType" name="driveType" >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="colour" [(ngModel)]="newCarData.colour" name="colour">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Transmission" [(ngModel)]="newCarData.transmission" name="transmission">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Car Engine"  [(ngModel)]="newCarData.carEngine" name="carEngine" >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Fuel type" [(ngModel)]="newCarData.fuelType" name="fuelType">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Number of Doors" [(ngModel)]="newCarData.numberOfDoors" name="numberOfDoors">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Number of seats"  [(ngModel)]="newCarData.numberOfSeats" name="numberOfSeats" >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price" [(ngModel)]="newCarData.price" name="price">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Number Of Cars" [(ngModel)]="newCarData.numberOfCars" name="numberOfCars">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Road side assistant" [(ngModel)]="newCarData.roadSideAssistancePackages" name="road side assistant package">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Warranty" [(ngModel)]="newCarData.warranty" name="warranty">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Extending warranty" [(ngModel)]="newCarData.extendingWarranty" name="extendingWarranty">
    </mat-form-field>

    <br>
    <button type="submit" class="btn btn-success">Add New Car</button>


</form>

</div>
</mat-card>
