<a routerLink="/addNewCar"> Add New Car</a>

<div class="panel formMatLeft">
  <div class="panel-heading">
    <h2>New Car List</h2>
    <i title="Download data in Excel" (click)="downloadCustomer()" class="btn material-icons">save_alt</i>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>SN</th>
        <th>Car Engine</th>
        <th>Color</th>
        <th>Drive Type</th>
        <th>Extending Warranty</th>
        <th>Fuel Type</th>
        <th>Make</th>
        <th>Model</th>
        <th>Number of Cars</th>
        <th>Number Of Doors</th>
        <th>Number Of Seats</th>
        <th>Reference Number</th>
        <th>Price</th>
        <th>Road Side Assistance Packages</th>
        <th>Transmission</th>
        <th>Warranty</th>
        <th colspan="2" class="text-center">Actions</th>
        <th> Generate Pdf </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = " let newCar of newCars; let i = index">
        <td>{{i+1}}</td>
        <td>{{newCar.carEngine}}</td>
        <td>{{newCar.colour}}</td>
        <td>{{newCar.driveType}}</td>
        <td>{{newCar.extendingWarranty}}</td>
        <td>{{newCar.fuelType}}</td>
        <td>{{newCar.make}}</td>
        <td>{{newCar.model}}</td>
        <td>{{newCar.numberOfCars}}</td>
        <td>{{newCar.numberOfDoors}}</td>
        <td>{{newCar.numberOfSeats}}</td>
        <td>{{newCar.referenceNumber}}</td>
        <td>{{newCar.price}}</td>
        <td>{{newCar.roadSideAssistancePackages}}</td>
        <td>{{newCar.transmission}}</td>
        <td>{{newCar.warranty}}</td>
        <td><button (click)="deleteCustomer(newCar.id)" class="btn btn-danger">Delete</button></td>
        <td [routerLink] = "['/updateCustomer',newCar.id]" class="btn btn-info btn-sm" >Update</td>
        <td ><i title="Generate PDF" (click)= "generateIndividualPdf(newCar.id)" class=" btn material-icons">
          picture_as_pdf
        </i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
