<a routerLink="/customer"> Add Customer</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Country</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th colspan="2">Actions</th>
        <th class="btn"> <i (click)="downloadCustomer()" class="material-icons">
          save_alt
        </i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = " let customer of products; let i = index">
        <td>{{i+1}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.emailAddress}}</td>
        <td><button (click)="deleteCustomer(customer.id)" class="btn btn-danger">Delete</button></td>
        <td [routerLink] = "['/updateCustomer',customer.id]" class="btn btn-info" >Update</td>
        <td style="margin-left: 40px" class="btn"><i (click)= "generateIndividualPdf(customer.id)" class="material-icons">
          picture_as_pdf
        </i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


