


<!--<h2> Add New Product</h2>-->
<!--<form #customerData = "ngForm" (ngSubmit) = "addNewProduct(customerData.value)">-->
<!--  <label>Name:</label><input type = "text" name="name" id="name" placeholder="name" ngModel><br>-->
<!--  <label>Country:</label><input type = "text" name="country" id="country" placeholder="country" ngModel><br>-->
<!--  <label>PhoneNumber:</label><input type = "text" name="phoneNumber" id="phoneNumber" placeholder="phoneNumber" ngModel><br>-->
<!--  <label>Address:</label><input type = "text" name="emailAddress" id="emailAddress" placeholder="emailAddress" ngModel><br>-->

<!--  <input type = "submit" value="Add Customer">-->
<!--</form>-->


<h3>Create Customer</h3>
<!--<div [hidden]="submitted" style="width: 400px;">-->
<div style="width: 400px;">
  <form #customerData = "ngForm" (ngSubmit) = "addNewProduct(customerData.value)">
    <div class="form-group">
      <label for="name"> Name</label>
      <input type = "text" name="name" class="form-control" id="name" placeholder="name" ngModel>
    </div>


    <div class="form-group">
      <label for="country">Country</label>
      <input type = "text" name="country" class="form-control"  id="country" placeholder="country" ngModel>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type = "text" name="phoneNumber"  class="form-control" id="phoneNumber" placeholder="phoneNumber" ngModel>
    </div>

    <div class="form-group">
      <label for="country">emailAddress</label>
      <input type = "text" name="emailAddress"  class="form-control" id="emailAddress" placeholder="emailAddress" ngModel>
    </div>

    <button type="submit" class="btn btn-success">Add Customer</button>
  </form>
</div>

<!--<div [hidden]="!submitted">-->
<!--  <h4>You submitted successfully!</h4>-->
<!--  &lt;!&ndash; <button class="btn btn-success" (click)="newEmployee()">Add</button> &ndash;&gt;-->
<!--</div>-->

<br>
<h3 *ngIf="isAdded">
  {{confirmationString}}
</h3>

<br>
<div class="btn btn-success"><a routerLink="/">Back</a></div>



